* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

/*CAPA*/

header {
    height: calc(118vh - 110px);
    background: no-repeat center/cover url("./Assets/Capa_site.jpg")
}

.navegacao {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 20px; /*Integrantes*/
    color: #FFFFFF; /*Integrantes*/
    padding: 10px; /*Integrantes*/
    font-family: 'Poppins', sans-serif; /*Integrantes*/

}

a {
    text-decoration: none; /*Integrantes*/
    color: white; /*Integrantes*/
}

a:hover,
.active {
    color: #49ff49 !important; /*Integrantes*/
}

.caixa-titulo {
    margin-left: 330px; /*Integrantes*/
    margin-top: 200px; /*Integrantes*/
    animation: fadeIn 2s linear; /*Integrantes*/
}

@keyframes fadeIn {

    /*transição FADE*/
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.caixa-titulo h1 {
    color: #00FF0A; /*Integrantes*/
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /*Integrantes*/
    font-size: 80px; /*Integrantes*/
    padding: 10px; /*Integrantes*/
    font-family: 'Roboto', sans-serif; /*Integrantes*/
} 

.caixa-titulo h3 {
    color: white; /*Integrantes*/
    margin-left: 140px; /*Integrantes*/
    font-size: 30px; /*Integrantes*/
    font-family: 'Roboto', sans-serif; /*Integrantes*/
}

/*capa*/

/*Inicio*/

.informacoes {
    font-family: 'Poppins', sans-serif; /*Integrantes*/
    height: 600px; /*Integrantes*/
    background-color: #FCFAF8; /*Integrantes*/
}

.informacoes h1 {
    text-align: center; /*Integrantes*/
    padding: 30px; /*Integrantes*/
}

.conteudos {
    display: flex; /*Integrantes*/
    list-style: none; /*Integrantes*/
    gap: 100px; /*Integrantes*/
    margin: 0px 0px 0px 370px; /*Integrantes*/
}

.conteudos li {
    display: grid; /*Integrantes*/
}

.conteudos p {
    font-family: 'Poppins', sans-serif; /*Integrantes*/
    text-align: center; /*Integrantes*/
    margin-top: 20px; /*Integrantes*/
}

.informacoes button {
    font-family: 'Poppins', sans-serif; /*Integrantes*/
    height: 130px; /*Integrantes*/
    width: 130px; /*Integrantes*/
    border-radius: 200px; /*Integrantes*/
    background-color: #FCFAF8; /*Integrantes*/
    border: 1px solid #dbd4d4; /*Integrantes*/
    cursor: pointer; /*Integrantes*/

}

.caixa-texto {
    height: 200px; /*Integrantes*/
    margin: 50px 200px 0px 200px; /*Integrantes*/
    background-color: #FCFAF8; /*Integrantes*/
} 

.caixa-texto p {
    text-align: center; /*Integrantes*/
    font-size: 20px; /*Integrantes*/
}

/*Inicio*/

/*Conteudo*/

.trabalho {
    height: 1700px; /*Integrantes*/
    background-color: white; /*Integrantes*/
    font-family: 'Poppins', sans-serif; /*Integrantes*/
}

.trabalho h1 {
    text-align: center; /*Integrantes*/
    padding: 30px; /*Integrantes*/
}

.trabalho h2{
    margin-left: 110px; /*Integrantes*/
}

.trabalho p {

    text-align: left; /*Integrantes*/
    font-size: 20px; /*Integrantes*/
    Vertical-align: Top; /*Integrantes*/
    margin-left: 110px; /*Integrantes*/
    margin-right: 110px; /*Integrantes*/
}

.trabalho .p2{
    
    text-align: center; /*Integrantes*/
    margin-top: 30px; /*Integrantes*/
}

.informacoes2 {
    font-family: 'Poppins', sans-serif; /*Integrantes*/
    height: 600px; /*Integrantes*/
    background-color: white; /*Integrantes*/
}

.informacoes2 h1 {
    text-align: center; /*Integrantes*/
    padding: 30px; /*Integrantes*/
}

.conteudos2 {
    display: flex; /*Integrantes*/
    list-style: none; /*Integrantes*/
    gap: 100px; /*Integrantes*/
    margin: 0px 0px 0px 370px; /*Integrantes*/
}

.conteudos2 li {
    display: grid; /*Integrantes*/
}

.conteudos2 p {
    font-family: 'Poppins', sans-serif; /*Integrantes*/
    text-align: center; /*Integrantes*/
    margin-top: 20px; /*Integrantes*/
}

.informacoes2 button {
    font-family: 'Poppins', sans-serif; /*Integrantes*/
    height: 130px; /*Integrantes*/
    width: 130px; /*Integrantes*/
    border-radius: 200px; /*Integrantes*/
    background-color: white; /*Integrantes*/
    border: 1px solid #dbd4d4; /*Integrantes*/
    cursor: pointer; /*Integrantes*/

}

.caixa-texto2 {
    height: 200px; /*Integrantes*/
    margin: 50px 200px 0px 200px; /*Integrantes*/
    background-color: white; /*Integrantes*/
} 

.caixa-texto2 p {
    text-align: center; /*Integrantes*/
    font-size: 20px; /*Integrantes*/
}
/*Conteudo*/

/*Sobre*/

.sobre{
    height: 700px;
    background-color: #FCFAF8;
    font-family: 'Poppins', sans-serif; /*Integrantes*/

}

.sobre h1 {
    text-align: center; /*Integrantes*/
    padding: 30px; /*Integrantes*/
}

.sobre h2{
    text-align: center;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.listas {
    margin-left: 150px;
    margin-right: 150px;
}

/*Sobre*/

/*considerações*/

.consideracoes{
    height: 700px;
    font-family: 'Poppins', sans-serif; /*Integrantes*/

}

.consideracoes h1 {
    text-align: center; /*Integrantes*/
    padding: 30px; /*Integrantes*/
    
/*considerações*/
}


/*Integrantes*/

.integrantes {
    height: 400px; /*Integrantes*/
    background-color: #191919; /*Integrantes*/
    font-family: 'Poppins', sans-serif; /*Integrantes*/

}

.integrantes h1 {
    text-align: center; /*Integrantes*/
    padding: 30px; /*Integrantes*/
    color: white; /*Integrantes*/
}

.integrantes img {
    height: 150px; /*Integrantes*/
    width: 500px; /*Integrantes*/
    margin-top: 20px; /*Integrantes*/
    margin-left: 50px; /*Integrantes*/
}

.container-2 {
    display: flex; /*Integrantes*/
}

.box-2 {
    margin-left: 250px; /*Integrantes*/
    margin-top: 50px;/*Integrantes*/
}

.box-2 ul {
    list-style: none; /*Integrantes*/
    color: white; /*Integrantes*/
    font-size: 20px; /*Integrantes*/
    text-align: center; /*Integrantes*/
    padding: 20px; /*Integrantes*/

}

.integrantes p {
    text-align: center; /*Integrantes*/
    color: white; /*Integrantes*/
    margin-top: 40px; /*Integrantes*/
}
/*Integrantes*/