* { /*CONFIGURAÇÃO GERAL DA PAGINA*/
    box-sizing: 0;
    margin: 0; /*MARGEM*/
    padding: 0; /*ESPAÇAMENTO*/
    font-family: 'Poppins', sans-serif; /*FONTE DO TEXTO*/

}

/*CAPA*/

header { /*tela de inicio*/
    height: calc(118vh - 110px); /*Altura*/
    background: no-repeat center/cover url("./Assets/Capa_site.jpg") /*imagem de fundo*/
}

.navegacao { /*barra de navegavação do site*/
    display: flex;
    justify-content: space-evenly;
    list-style: none; /*Tipo de lista*/
    font-size: 20px; /*tamanho da fonte*/
    color: #FFFFFF; /*cor*/
    padding: 10px; /*ESPAÇAMENTO*/

}

a { /*link da pagina*/
    text-decoration: none; /*decoração de texto*/
    color: white; /*cor*/
}

a:hover, .active {  /*muda cor do link ao arrastar o mouse*/
    color: #49ff49; /*cor*/
} 

.caixa-titulo { /*caixa titulo da capa*/
    margin-left: 330px; /*MARGEM para esquerda*/
    margin-top: 200px; /*MARGEM para cima*/
    animation: fadeIn 2s linear; /*animação*/
}

@keyframes fadeIn { /*Animação do titulo*/

    /*transição FADE*/
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.caixa-titulo h1 { /*titulo da capa*/
    color: #00FF0A; /*cor*/
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /*sombra do texto*/
    font-size: 80px; /*tamanho da fonte*/
    padding: 10px; /*ESPAÇAMENTO*/
    font-family: 'Roboto', sans-serif; /*FONTE DO TEXTO*/
}

.caixa-titulo h3 { /*subtitulo da capa*/
    color: white; /*cor*/
    margin-left: 140px; /*margem para esquerda*/
    font-size: 30px; /*tamanho da fonte*/
    font-family: 'Roboto', sans-serif; /*FONTE DO TEXTO*/
}

/*CAPA*/

/*Informações Iniciais*/

.informacoes {
    height: 600px; /*Altura*/
    background-color: white; /*cor de fundo*/
}

.informacoes h1 {
    text-align: center; /*Alinhamento de texto*/
    padding: 30px; /*ESPAÇAMENTO*/
}

.conteudos {
    display: flex;
    list-style: none; /*Tipo de lista*/
    gap: 100px; /*distanciamento*/
    margin: 0px 0px 0px 370px; /*MARGEM*/
}

.conteudos li {
    display: grid;
}

.conteudos p {
    text-align: center; /*Alinhamento de texto*/
    margin-top: 20px; /*MARGEM para cima*/
}

.informacoes button {
    height: 130px; /*Altura*/
    width: 130px; /*largura*/
    border-radius: 200px; /* grossura borda*/
    background-color: white; /*cor de fundo*/
    border: 1px solid #dbd4d4; /*borda*/
    cursor: pointer;

}

.caixa-texto {
    height: 200px; /*Altura*/
    margin: 50px 200px 0px 200px; /*MARGEM*/
    background-color: rgb(255, 255, 255); /*cor de fundo*/
}

.caixa-texto p {
    text-align: center; /*Alinhamento de texto*/
    font-size: 20px; /*tamanho da fonte*/
}

/*Informações Iniciais*/

/*Sobre o Tema*/

.sobre {
    height: 580px; /*Altura*/
    background-color: rgb(255, 255, 255); /*cor de fundo*/

}

.sobre h1 {
    text-align: center; /*Alinhamento de texto*/
    padding: 30px; /*ESPAÇAMENTO*/
}

.container {
    display: flex;
}

.box1 {
    height: 400px; /*Altura*/
    width: 600px; /*largura*/
    margin: 30px 20px 0px 115px; /*MARGEM*/
}

.box1 p {
    text-align: center; /*Alinhamento de texto*/
    font-size: 20px; /*tamanho da fonte*/
    padding: 25px; /*ESPAÇAMENTO*/
}

.box1 button {
    margin: 10px 0px 0px 220px; /*MARGEM*/
    background-color: #49ff49; /*cor de fundo*/
    color: white; /*cor*/
    padding: 10px 30px; /*ESPAÇAMENTO*/
    border-radius: 25px;  /*grossura da borda*/
    cursor: pointer; 
    transition: 0.5s;
    font-size: 20px; /*tamanho da fonte*/  
    border: none; /*borda*/
}

.box1 button:hover {
    background-color: transparent; /*cor de fundo*/
    border: 2px solid #49ff49; /*borda*/
    color: #49ff49; /*cor*/
}

.box2 {
    height: 300px; /*Altura*/
    width: 0px; /*largura*/
    margin: 40px 40px 0px 0px; /*MARGEM*/
    overflow: hidden;
}

.box2 img {
    object-fit: cover;
    height: 280px; /*Altura*/
    width: 420px; /*largura*/
    margin-left: 0px; /*MARGEM*/
    animation: animacao infinite 20s;
    opacity: 0;
    position: absolute;
    border-radius: 12px; /*grossura da borda*/

}

@keyframes animacao {
    25% {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }

    50% {
        opacity: 0;

    }
}

.box2 img:nth-child(1) {
    animation-delay: 0s;
}

.box2 img:nth-child(2) {
    animation-delay: 5s;
}

.box2 img:nth-child(3) {
    animation-delay: 10s;
}

.box2 img:nth-child(4) {
    animation-delay: 15s;
}

/*Sobre o Tema*/


/*pagina2*/

.container-b {
    display: none;
}

/*Inicio*/

.informacoes {
    height: 600px; /*Altura*/
    background-color: #FCFAF8; /*cor de fundo*/
}

.informacoes h1 {
    text-align: center; /*Alinhamento de texto*/
    padding: 30px; /*ESPAÇAMENTO*/
}

.conteudos {
    display: flex;
    list-style: none; /*Tipo de lista*/
    gap: 100px; /*distanciamento*/
    margin: 0px 0px 0px 370px; /*MARGEM*/
}

.conteudos li {
    display: grid;
}

.conteudos p {
    text-align: center; /*Alinhamento de texto*/
    margin-top: 20px; /*MARGEM para cima*/
}

.informacoes button {
    height: 130px; /*Altura*/
    width: 130px; /*largura*/
    border-radius: 200px; /*grossura da borda*/
    background-color: #FCFAF8; /*cor de fundo*/
    border: 1px solid #dbd4d4; /*borda*/
    cursor: pointer;

}

.caixa-texto {
    height: 200px; /*Altura*/
    margin: 50px 200px 0px 200px; /*MARGEM*/
    background-color: #FCFAF8; /*cor de fundo*/
}

.caixa-texto p {
    text-align: center; /*Alinhamento de texto*/
    font-size: 20px; /*tamanho da fonte*/
}

/*Inicio*/

/*Conteudo*/

.trabalho {
    height: 2500px; /*Altura*/
    background-color: white; /*cor de fundo*/
}

.trabalho h1 {
    text-align: center; /*Alinhamento de texto*/
    padding: 30px; /*ESPAÇAMENTO*/
}

.trabalho h2 {
    margin-left: 110px; /*MARGEM*/
}

.trabalho p {

    text-align: justify; /*Alinhamento de texto*/
    font-size: 20px; /*tamanho da fonte*/
    Vertical-align: Top;
    margin-left: 110px; /*MARGEM para esquerda*/
    margin-right: 110px; /*MARGEM para direita*/
}

.trabalho .p2 {

    text-align: center; /*Alinhamento de texto*/
    margin-top: 10px; /*MARGEM para cima*/
}

.informacoes2 {
    height: 600px; /*Altura*/
    background-color: white; /*cor de fundo*/
}

.informacoes2 h1 {
    text-align: center; /*Alinhamento de texto*/
    padding: 30px; /*ESPAÇAMENTO*/
}

.conteudos2 {
    display: flex;
    list-style: none; /*Tipo de lista*/
    gap: 100px; /*distanciamento*/
    margin: 0px 0px 0px 370px; /*MARGEM*/
}

.conteudos2 li {
    display: grid;
}

.conteudos2 p {
    text-align: center; /*Alinhamento de texto*/
    margin-top: 20px; /*MARGEM para cima*/
}

.informacoes2 button {
    height: 130px; /*Altura*/
    width: 130px; /*largura*/
    border-radius: 200px; /*grossura da borda*/
    background-color: white; /*cor de fundo*/
    border: 1px solid #dbd4d4; /*borda*/
    cursor: pointer; 

}

.caixa-texto2 {
    height: 200px; /*Altura*/
    margin: 50px 200px 0px 200px; /*MARGEM*/
    background-color: white; /*cor de fundo*/
}

.caixa-texto2 p {
    text-align: center; /*Alinhamento de texto*/
    font-size: 20px; /*tamanho da fonte*/
}

/*Conteudo*/

/*Sobre2*/

.sobre2 {
    height: 700px; /*Altura*/
    background-color: #FCFAF8; /*cor de fundo*/

}

.sobre2 h1 {
    text-align: center; /*Alinhamento de texto*/
    padding: 30px; /*ESPAÇAMENTO*/
}

.sobre2 h2 {
    text-align: center; /*Alinhamento de texto*/
    font-size: 20px; /*tamanho da fonte*/
    margin-left: 100px; /*MARGEM  para esquerda*/
    margin-right: 100px; /*MARGEM para direita*/
}

.listas {
    margin-left: 150px; /*MARGEM para esquerda*/
    margin-right: 150px; /*MARGEM para direita*/
    text-align: justify;  /*Alinhamento de texto*/
}

/*Sobre2*/

/*considerações*/

.consideracoes {
    height: 700px; /*Altura*/

}

.consideracoes h1 {
    text-align: center; /*Alinhamento de texto*/
    padding: 30px; /*ESPAÇAMENTO*/
}

.consideracoes p {
    text-align: left; /*Alinhamento de texto*/
    font-size: 20px; /*tamanho da fonte*/
    Vertical-align: Top; /*alinhamento de texto*/
    margin-left: 110px; /*MARGEM para esquerda*/
    margin-right: 110px; /*MARGEM para direita*/
}

/*considerações*/

/*pagina2*/

/*Integrantes*/

.integrantes {
    height: 400px; /*Altura*/
    background-color: #191919; /*cor de fundo*/

}

.integrantes h1 {
    text-align: center; /*Alinhamento de texto*/
    padding: 30px; /*ESPAÇAMENTO*/
    color: white; /*cor*/
}

.integrantes img {
    height: 150px; /*Altura*/
    width: 500px; /*largura*/
    margin-top: 20px; /*MARGEM para cima*/
    margin-left: 50px; /*MARGEM para esquerda*/
}

.container-2 {
    display: flex;
}

.box-2 {
    margin-left: 250px; /*MARGEM para esquerda*/
    margin-top: 50px; /*MARGEM para cima*/
}

.box-2 ul {
    list-style: none; /*Tipo de lista*/
    color: white; /*cor*/
    font-size: 20px; /*tamanho da fonte*/
    text-align: center; /*Alinhamento de texto*/
    padding: 20px; /*ESPAÇAMENTO*/

}

.integrantes p {
    text-align: center; /*Alinhamento de texto*/
    color: white; /*cor*/
    margin-top: 40px; /*MARGEM para cima*/
}

/*Integrantes*/


/*>>>RESPONSIVIDADE<<<*/

/*TABLET*/

@media screen and (max-width: 768px) {

    /*capa*/

    header {
        width: 100%; /*Largura*/ 
        padding: 0;
    }

    .navegacao {
        font-size: 15px; /*tamanho da fonte*/
    }


    .caixa-titulo {
        margin-left: 20px; /*margem para esquerda*/
        margin-top: 200px; /*margem para cima*/
    }

    /*capa*/

    /*Informações Iniciais*/

    .conteudos {
        margin: 0px 0px 0px 90px; /*margem*/
        gap: 82px; /*distanciamento*/
    }

    .caixa-texto {
        width: 400px; /*largura*/
        margin-left: 250px; /*margem para esquerda*/
    }

    .caixa-texto p {
        font-size: 50px; /*tamanho da fonte*/
        width: 300px; /*largura*/
        margin-left: -20px; /*margem para esquerda*/
    }


    .box1 p {
        font-size: 14px; /*tamanho da fonte*/
    }

    .box1 button {
        margin: 10px 0px 0px 70px; /*Margem*/
        height: 50px; /*Altura*/
    }

    .box2 img { 
        height: 142px; /*Altura*/
        width: 208px; /*largura*/
        margin-top: 40px; /*margem para cima*/
    }


    /*INTEGRANTES*/

    .integrantes img {
        height: 110px; /*Altura*/
        width: 300px; /*largura*/
    }

    .box-2 {
        margin-left: 80px; /*margem para esquerda*/
    }

    .box-2 ul {
        font-size: 12px; /*tamanho da fonte*/
        padding: 0; /*espaçamento*/
    }

    /*INTEGRANTES*/

}

/*TABLET*/

/*CELULAR*/

@media screen and (max-width: 600px) {

    /*Barra de navegação*/

    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%; /*largura*/
        padding: 0; /*ESPAÇAMENTO*/
        margin: 0; /*MARGEM*/
        z-index: 99;
        background: #00FF0A;
        color: white; 
        font-weight: bold;
        height: 55px; /*Altura*/
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    header li {
        margin-right: 30px; /*MARGEM para direita*/
    }

    header nav p {
        width: 100%; /*largura*/
        text-align: center; /*Alinhamento de texto*/
    }

    header a{
        font-size: smaller; /*tamanho da fonte*/
    }

    header a:hover{
        color: #0c6300;
    }

    /*Barra de navegação*/

    /*Informações Iniciais*/

    .navegacao {
        text-align: center; /*Alinhamento de texto*/
    }

    header {
        width: 100%; /*largura*/
        padding: 0; /*ESPAÇAMENTO*/
        height: calc(100vh - 210px); /*Altura*/
    }

    .caixa-titulo {
        margin-left: 10px; /*MARGEM para esquerda*/ 
        margin-top: 150px; /*MARGEM para cima*/
    }

    .caixa-titulo h1 {
        font-size: 40px; /*tamanho da fonte*/
        text-align: center; /*Alinhamento de texto*/
    }

    .caixa-titulo h3 {
        text-align: center; /*Alinhamento de texto*/
        font-size: 20px; /*tamanho da fonte*/
        margin-left: 0px; /*MARGEM para esquerda*/
    }

    .informacoes {
        height: 500px; /*Altura*/
    }

    .conteudos {
        gap: 0px; /*distanciamento*/

    }

    .conteudos p {
        margin-top: 15px; /*MARGEM para cima*/
        font-size: 12px; /*tamanho da fonte*/
        margin-left: 0px; /*MARGEM para esquerda*/
    }



    .informacoes button {
        margin-left: 30px; /*MARGEM para esquerda*/
        height: 71px; /*Altura*/
        width: 73px; /*largura*/
    }

    img {
        height: 40px; /*Altura*/
    }

    /*Informações Iniciais*/


    /*Sobre o tema */
    .caixa-texto {
        margin-left: 35px; /*MARGEM para esquerda*/
        width: 315px; /*largura*/

    }

    .caixa-texto p {
        font-size: 13px; /*tamanho da fonte*/
        margin-left: 70px; /*MARGEM para esquerda*/
    }

    .box1 {
        height: 400px; /*Altura*/
        width: 0; /*largura*/
        margin: 0px 10px 10px 30px; /*MARGEM*/

    }

    .box1 p {
        font-size: 14px; /*tamanho da fonte*/
        width: 300px; /*largura*/
        margin-left: 50px; /*MARGEM para esqueda*/
    }


    .box1 button {
        margin: 0px 0px 0px 120px; /*MARGEM*/
        width: 190px; /*largura*/
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .box2 {

        margin: -146px 0px 0px 140px; /*MARGEM*/

    }

    /*Sobre o tema */


    /*>>>>>>>Segunda Pagina<<<<<*/

    .container-b {
        height: 6020px; /*Altura*/
    }

    .trabalho {
        height: 4220px; /*Altura*/
    }

    .trabalho h2 {
        font-size: 26px; /*tamanho da fonte*/
        margin: 30px; /*MARGEM*/
        text-align: center; /*Alinhamento de texto*/
    } 

    .trabalho p {
        font-size: 15px; /*tamanho da fonte*/
        text-align: center; /*Alinhamento de texto*/
        margin: 0px; /*MARGEM*/
        padding: 0 50px 0 50px; /*ESPAÇAMENTO*/
    }

    .informacoes2 {
        height: 390px; /*Altura*/
    }

    .conteudos2 li {
        width: 140px; /*largura*/
    }

    .conteudos2 p {
        margin-top: 15px; /*MARGEM para cima*/
        font-size: 12px; /*tamanho da fonte*/
        margin-left: 0px; /*MARGEM para esquerda*/
    }

    .informacoes2 button {
        margin-left: 30px; /*MARGEM para esquerda*/
        height: 71px; /*Altura*/
        width: 73px; /*largura*/
    }

    .conteudos2 {
        gap: 0; /*distanciamento*/
        margin-left: 40px; /*MARGEM para esquerda*/
    }

    .caixa-texto2 {
        margin: 35px; /*MARGEM*/

    }

    .caixa-texto2 p {
        font-size: 14.5px; /*tamanho da fonte*/
    }

    .unimed {
        height: 25px; /*Altura*/
    }

    /*Como esse tema contribui*/

    .sobre2 {
        height: 1000px; /*Altura*/
    }

    .sobre2 h1 {
        font-size: 25px; /*tamanho da fonte*/
    }

    .sobre2 h2 {
        font-size: 15px; /*tamanho da fonte*/
        margin: 20px; /*MARGEM*/
    }

    .sobre2 ul {
        margin: 40px; /*MARGEM*/
        font-size: 15px; /*tamanho da fonte*/
        text-align: center; /*alinhamento de texto*/
        list-style: none; /*Tipo de lista*/
    }

    /*Como esse tema contribui*/

    /*>>>>>>>Segunda Pagina<<<<<*/

    /*INTEGRANTES*/

    .container-2 {
        display: block
    }

    .integrantes img {
        height: 60px; /*Altura*/
        width: 200px; /*largura*/
        margin-left: 140px; /*MARGEM para esquerda*/
    }

    .box-2 ul {
        margin-right: 75px; /*MARGEM para direita*/
        font-size: 10px; /*tamanho da fonte*/
        padding: 0; /*ESPAÇAMENTO*/
    }

    /*INTEGRANTES*/
}

/*CELULAR*/