* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

/*CAPA*/

header {
    height: calc(118vh - 110px);
    background: no-repeat center/cover url("./Assets/Capa_site.jpg")
}

.navegacao {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    font-family: 'Poppins', sans-serif;

}

a {
    text-decoration: none;
    color: white;
}

a:hover,
.active {
    color: #49ff49 !important;
}

.caixa-titulo {
    margin-left: 330px;
    margin-top: 200px;
    animation: fadeIn 2s linear;
}

@keyframes fadeIn {

    /*transição FADE*/
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.caixa-titulo h1 {
    color: #00FF0A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 80px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.caixa-titulo h3 {
    color: white;
    margin-left: 140px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

/*CAPA*/

/*Informações Iniciais*/

.informacoes {
    font-family: 'Poppins', sans-serif;
    height: 600px;
    background-color: white;
}

.informacoes h1 {
    text-align: center;
    padding: 30px;
}

.conteudos {
    display: flex;
    list-style: none;
    gap: 100px;
    margin: 0px 0px 0px 370px;
}

.conteudos li {
    display: grid;
}

.conteudos p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.informacoes button {
    font-family: 'Poppins', sans-serif;
    height: 130px;
    width: 130px;
    border-radius: 200px;
    background-color: white;
    border: 1px solid #dbd4d4;
    cursor: pointer;

}

.caixa-texto {
    height: 200px;
    margin: 50px 200px 0px 200px;
    background-color: rgb(255, 255, 255);
}

.caixa-texto p {
    text-align: center;
    font-size: 20px;
}

/*Informações Iniciais*/

/*Sobre o Tema*/

.sobre {
    height: 580px;
    background-color: #FCFAF8;
    font-family: 'Poppins', sans-serif;

}

.sobre h1 {
    text-align: center;
    padding: 30px;
}

.container {
    display: flex;
    justify-content: center;
}

.box1 {
    height: 400px;
    width: 600px;
    margin: 30px 40px 100px 70px;
}

.box1 p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 25px;
}

.box1 a {
    margin: 10px 0px 0px 220px;
    background-color: #49ff49;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.box1 a:hover {
    background-color: transparent;
    border: 2px solid #49ff49;
}

.box2 {
    height: 300px;
    width: 500px;
    margin: 40px 40px 0px 0px;
    
    overflow: hidden;
}

.box2 img {
    object-fit: cover;
    height: 300px;
    width: 450px;
    margin-left: 20px;
    animation: animacao infinite 20s;
    opacity: 0;
    position: absolute;
    border-radius: 12px;

}

@keyframes animacao {
    25% {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }

    50% {
        opacity: 0;

    }
}

.box2 img:nth-child(1) {
    animation-delay: 0s;
}

.box2 img:nth-child(2) {
    animation-delay: 5s;
}
.box2 img:nth-child(3) {
    animation-delay: 10s;
}

.box2 img:nth-child(4) {
    animation-delay: 15s;
}

/*Sobre o Tema*/

/*Integrantes*/

.integrantes {
    height: 400px;
    background-color: #191919;
    font-family: 'Poppins', sans-serif;

}

.integrantes h1 {
    text-align: center;
    padding: 30px;
    color: white;
}

.integrantes img {
    height: 150px;
    width: 500px;
    margin-top: 20px;
    margin-left: 50px;
}

.container-2 {
    display: flex;
}

.box-2 {
    margin-left: 250px;
    margin-top: 50px;
}

.box-2 ul {
    list-style: none;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;

}

.integrantes p {
    text-align: center;
    color: white;
    margin-top: 40px;
}

/*Integrantes*/